.users {
	.user:nth-child(even) {
		background-color:#ddd;
	}
}
.error {
	color:red;
	border-color:red;
	&.empty {
		display: none;
	}
}
.delete {
	color:red;
}
.new_user_form .close {
	float:right;
	text-decoration:none;
	color:grey;
}
table.empty:after {
	width:100%;
	content: "No Entries Detected";
}
input[type="submit"] {
	color:#fff;
	background-color:green;
	font-size:20px;
	border-radius:2px;
	border:0;
	cursor:pointer;
	margin:10px 0;
}